<h3>Manufacturer List</h3>

<div>
  <ul>
    <% @manufacturers.each do |manufacturer| %>
      <li><%= "#{manufacturer.name}" %> - <%= "#{manufacturer.country}" %></li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "New Manufacturer", new_manufacturer_path(@manufacturer) %>
</div>

<%= link_to 'Cars', cars_path %>
